<html>
<head>
<style>
.status_True {
    color: green;
    }

.status_False {
    color: red;
    }
</style>
</head>
<body>
<h1>Nuev9 Server Status</h1>

<div><h2>Services and Processes</h2>
<table>
{% for p,s in processes.items() %}
<tr>
<td>{{p}}</td><td><span class="status_{{s>=0}}">{{ {True: 'OK', False: 'NOT RUNNING!'}[s>=0] }}</span></td>
{% if s >= 0 %}
<td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/api/server/killprocess?pid={{s}}">RESTART</a></td>
{% endif %}
</tr>
{% endfor %}
</table>
</div>
<h2>Storage Resources</h2>
<pre>
{{storage}}
</pre>
<h2>Backups</h2>
<pre>
{{backups}}
</pre>
</body>
</html>
