<html>
<head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<style>
.button 
{
border: 1px solid black;
border-radius: 3px;
padding: 5px;
}
.positive
{
background: green;
color: white;
}
.negative
{
background: red;
}

.neutral
{
background: gray;
}

.dontknow
{
background: yellow;
}

.tweet 
{
margin-bottom: 15px;
border: 1px solid black;
border-radius: 3px;
padding: 8px;
}

.tweet .text
{
margin-top: 0px;
}
</style>
</head>
<script>
function rate(id, sent)
{
  $.ajax({
      url : "/rate",
      type: "POST",
      data : {'id': id, 'sent': sent},
      success: function(data, textStatus, jqXHR)
      {
	  $("#"+id).fadeOut();
      },
      error: function (jqXHR, textStatus, errorThrown)
      {
  
      }
  });
}
</script>
<body>
{% for tweet in tweets %}
<div class="tweet" id ="{{tweet["_id"]}}">
  <p class="text">@{{tweet['user']['screen_name']}} - {{tweet['created_at']}}</p>
  <p class="text">{{tweet['x_sentiment']}} {{tweet['text']}}</p>
  <span class="button positive" onclick="javascript: rate('{{tweet["_id"]}}', '+');">POSITIVO</span>
  <span class="button negative" onclick="javascript: rate('{{tweet["_id"]}}', '-');">NEGATIVO</span>
  <span class="button neutral" onclick="javascript: rate('{{tweet["_id"]}}', '=');">NEUTRO</span>
  <span class="button dontknow" onclick="javascript: rate('{{tweet["_id"]}}', '?');">No se sabe</span>
</div>
{% endfor %}
</body>
</html>