
<!-- Content Header (Page header) -->
<section class="content-header">
    <h1>
        {{campaign['name']}}
        <small>Campaña</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Campaña</li>
    </ol>    
</section>

<!-- Main content -->
<section class="content">
    <div class="row">
        <div class="col-md-12">
            {% for brand_id, brand in campaign.brands.items() %}
            <div class="box box-solid brand">
                <div class="panel box box-success">
                    <div class="box-header">
                        <h2 class="box-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#{{brand_id}}">{{brand['name']}}</a>
                        </h2>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-success btn-sm" onclick="removeBrand(this); return false;"><i class="fa fa-trash-o"></i></button>
                            <button class="btn btn-success btn-sm" onclick="alert(1); return false"><i class="fa fa-save"></i></button>
                        </div>
                    </div>  
                </div>
                <div id="{{brand_id}}" class="panel-collapse collapse in">
                    <div class="box-body">
                        <form role="form">
                            <!-- text input -->
                            <div class="form-group">
                                <label>Sinónimos</label>
                                <input type="text" class="form-control" placeholder="Sinónimos separados por comas..." value="{{brand['synonyms']}}"/>
                            </div>
                            <div class="form-group">
                                <label>Reglas de Identificación</label>
                                <div id="{{brand_id}}_id_rules_container" class="brand_id_rules_container">
                                    {% for idrule in brand['identification_rules'] %}
                                    <div><input type="text" class="form-control" placeholder="utilizar [M] para marca y [P] para producto..." value="{{idrule}}"/></div>
                                    {% endfor %}
                                    <div last="true"><input type="text" class="form-control" placeholder="utilizar [M] para marca y [P] para producto..." value="" onchange="checkLastItemChanged(this);"/></div>
                                </div>
                            </div>                        
                            <div class="form-group">
                                <label>Grupos de palabras clave de la marca</label>
                                <div id="{{brand_id}}_keyword_sets_container" class="brand_keyword_sets_container">
                                    {% for kwset in brand['keyword_sets'] %}
                                    <div>
                                        <table width="100%">
                                            <tr><td width="30%"><input type="text" class="form-control" placeholder="palabra clave..." value="{{kwset['name']}}" /></td>
                                            <td width="40%"><input type="text" value="" class="slider form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="{{kwset['value']}}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    <div last="true">
                                        <table width="100%">
                                            <tr><td width="30%"><input type="text" class="form-control" placeholder="palabra clave..." value="" onchange="checkLastItemChanged(this);"/></td>
                                            <td width="40%"><input type="text" value="" class="slider form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                        </table>
                                    </div>  
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Palabras clave individuales de la marca</label>
                                <div id="{{brand_id}}_keyword_sets_container" class="brand_keyword_sets_container">
                                    {% for kw, value in brand['keywords'] %}
                                    <div>
                                        <table width="100%">
                                            <tr><td width="30%"><input type="text" class="form-control" placeholder="palabra clave..." value="{{kw}}" /></td>
                                            <td width="40%"><input type="text" value="" class="slider form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="{{value}}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                        </table>
                                    </div>
                                    {% endfor %}
                                    <div last="true">
                                        <table width="100%">
                                            <tr><td width="30%"><input type="text" class="form-control" placeholder="palabra clave..." value="" onchange="checkLastItemChanged(this);"/></td>
                                            <td width="40%"><input type="text" value="" class="slider form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                        </table>
                                    </div>                                    
                                </div>
                            </div>
                            
                            <div class="box box-solid products_section_container">
                                <div class="box-header product_header">
                                    <h3 class="box-title">Productos</h3>
                                    <div class="box-tools pull-right">
                                        <button type="button" class="btn btn-primary btn-sm" id="newproduct_{{brand_id}}" onclick="addProduct(this); return false;"><i class="fa fa-plus"></i></button>
                                    </div>
                                </div><!-- /.box-header -->
                                <div class="box-body">
                                    <div class="box-group products_container" id="accordion">
                                    {% do brand['products'].update({'new_product': {'name': 'Nuevo Producto', 'model_product': True}}) %}
                                    {% for product_id, product in brand['products'].items() %}
                                        {% set slider_class = 'slider' %}
                                        {% if product.get('model_product', False) %} {% set slider_class = 'pre_slider' %} {% endif %}
                                        <div class="panel box box-primary product" {% if product.get('model_product', False) %} style="display:none;" product_model="true" {% endif %}>
                                            <div class="box-header">
                                                <h4 class="box-title">
                                                    <a data-toggle="collapse" data-parent="#accordion" href="#{{product_id}}">
                                                        {{product['name']}}
                                                    </a>
                                                </h4>
                                                <div class="box-tools pull-right">
                                                    <button class="btn btn-primary btn-sm" onclick="removeProduct(this); return false"><i class="fa fa-trash-o"></i></button>
                                                </div>
                                            </div>
                                            <div id="{{product_id}}" class="panel-collapse collapse in">
                                                <div class="box-body">
                                                    <div class="form-group">
                                                        <label>Sinónimos</label>
                                                        <input type="text" class="form-control" placeholder="Sinónimos separados por comas..." value="{{product['synonyms']}}"/>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Reglas de Identificación</label>
                                                        <div class="product_id_rules_container">
                                                            {% for idrule in product['identification_rules'] %}
                                                            <div><input type="text" class="form-control" placeholder="utilizar [M] para marca y [P] para producto..." value="{{idrule}}"/></div>
                                                            {% endfor %}
                                                            <div last="true"><input type="text" class="form-control" placeholder="utilizar [M] para marca y [P] para producto..." value="" onchange="checkLastItemChanged(this);"/></div>
                                                        </div>
                                                    </div>                        
                                                    <div class="form-group">
                                                        <label>Grupos de palabras clave de la marca</label>
                                                        <div class="product_keyword_sets">
                                                            {% for kwset in product['keyword_sets'] %}
                                                            <div>
                                                                <table style="width:100%">
                                                                    <tr><td style="width:30%"><input type="text" class="form-control" placeholder="palabra clave..." value="{{kwset['name']}}" /></td>
                                                                    <td style="width:40%"><input style="width:100%" type="text" value="" class="{{slider_class}} form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="{{kwset['value']}}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                                                </table>
                                                            </div>
                                                            {% endfor %}
                                                            <div last="true">
                                                                <table style="width:100%">
                                                                    <tr><td style="width:30%"><input type="text" class="form-control" placeholder="palabra clave..." value=""  onchange="checkLastItemChanged(this);"/></td>
                                                                    <td style="width:40%"><input style="width:100%" type="text" value="" class="{{slider_class}} form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label>Palabras clave individuales de la marca</label>
                                                        <div class="product_keywords">
                                                            {% for kw, value in product['keywords'] %}
                                                            <div>
                                                                <table style="width:100%">
                                                                    <tr><td width="30%"><input type="text" class="form-control" placeholder="palabra clave..." value="{{kw}}" /></td>
                                                                    <td width="40%"><input style="width:100%" type="text" value="" class="{{slider_class}} form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="{{value}}" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                                                </table>
                                                            </div>
                                                            {% endfor %}
                                                            <div last="true">
                                                                <table style="width:100%">
                                                                    <tr><td style="width:30%"><input type="text" class="form-control" placeholder="palabra clave..." value="" onchange="checkLastItemChanged(this);"/></td>
                                                                    <td style="width:40%"><input style="width: 100%;" type="text" value="" class="{{slider_class}} form-control" data-slider-min="-100" data-slider-max="100" data-slider-step="1" data-slider-value="5" data-slider-orientation="horizontal" data-slider-selection="before" data-slider-tooltip="show" data-slider-id="red"></td></tr>
                                                                </table>
                                                            </div>                                                        
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}                                    
                                    </div>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                            
                        </form>
                    </div>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
            {% endfor %}
        </div><!-- ./col -->
    </div>
</section><!-- /.content -->

